.fourth{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fourth h2{
    font-size: 2em;
    color: #fff;
}

.fourth .slider{
    overflow: hidden;
    max-width: 60%;
}

.fourth .join h3{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #d78f23;
}

.fourth .join .buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.fourth .join .button-div{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.fourth .join button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.fourth .join button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 9px 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.fourth .join button:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}
.fourth .join button:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 9px 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
}
.fourth .join button:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}
.fourth .join button:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

/* modal */

.fourth .modal-container {
    display: flex;
    background: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
}

.deactive{
    opacity: 0;
    transform: translate(-50%, 200%) scale(0);
    transition: all 0.5s ease-in-out;
}

.active{
    opacity: 1;
    transform:  translate(-50%, -50%) scale(1);
    transition: opacity 0.5s ease-in-out;
}

.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    z-index: 8;
}

.fourth .modal {
    width: 60rem;
    padding: 4rem 2rem;
    border-radius: .8rem;
    color: hsl(220, 50%, 90%);
    background: linear-gradient(to right, hsl(210, 30%, 20%, 0.5), hsl(255, 30%, 25%, 0.9));
    backdrop-filter: blur(5px);
    box-shadow: hsla(236, 50%, 50%, .3, .4rem .4rem 10.2rem .2rem) hsla(236, 50%, 50%, .3);
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.fourth .modal__title {
    font-size: 3.2rem;
}

.fourth .modal__btn {
    margin-top: 4rem;
    padding: 1rem 1.6rem;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 100rem;

    color: inherit;
    background: transparent;
    font-size: 1.4rem;
    font-family: inherit;
    letter-spacing: .2rem;

    transition: .2s;
    cursor: pointer;
}

.fourth .modal__btn:hover,
.fourth .modal__btn:focus {
  background: hsl(210, 90%, 50%);
  border-color: hsl(210, 90%, 50%);
  transform: translateY(-.2rem);
}

/* link-... */
.fourth .link-1 {
    font-size: 1.8rem;

    color: hsl(220, 50%, 90%);;
    background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, .3);
    border-radius: 100rem;
    padding: 1.4rem 3.2rem;

    transition: .2s;
}

.fourth .link-1:hover,
.fourth .link-1:focus {
    transform: translateY(-.2rem);
    box-shadow: 0 0 4.4rem .2rem hsla(236, 50%, 50%, .4);
}

.fourth .link-1:focus {
    box-shadow:
        0 0 4.4rem .2rem hsla(236, 50%, 50%, .4),
        0 0 0 .4rem hsl(220, 25%, 10%),
        0 0 0 .5rem hsl(210, 90%, 50%);
}

@media screen and (max-width: 1400px) and (min-width:1050px){
    .fourth{
        transform: scale(0.9);
    }
}