@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel__stage-item *{
    width: 205px;
    padding: 0 10px;
}

.alice-carousel__dots{
    margin: 10px 3px 5px;
}

.alice-carousel__prev-btn-item, 
.alice-carousel__next-btn-item{
    font-size: 40px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px 15px;
}

.alice-carousel__prev-btn-item:hover, 
.alice-carousel__next-btn-item:hover{
    color: burlywood;
}

.alice-carousel__prev-btn{
    
}

.alice-carousel{
    width: 80%;
}

.item {
    position: relative;
    height: 230px;
}

.item p{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    bottom: -15px;
    background: rgba(0,0,0,0.6);
    width: 70%;
    right: 10%;
    color: #fff;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}

.alice-carousel__prev-btn{
    text-align: center!important;
}

@media screen and (max-width: 400px) {
    .alice-carousel__stage-item *{
        padding: 0;
    }

    .item p{
        right: 0;
        width: 100%;
    }
}