.vanue{
    color: #fff;
    width: 100%;
    margin-top: -50px;
}

.vanue .map{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    border-radius: 10px;
    align-items: center;
}

.vanue .map iframe{
    width: 100%;
    height: 300px;
    border-radius: 15px;
}



.vanue .map h4{
    font-family: 'Dancing Script', cursive;
    border-top:1px dashed #e7cfab;
    margin-top: 10px;
    padding-top: 10px;
    color: #d78f23;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.vanue .time-polapan{
    margin: 20px 10% 0 10%;
    max-width: 100%;
    letter-spacing: 0.15em;
    position: relative;
}

.vanue .time{
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    color: #e7cfab;
    max-width: 450px;
    margin: 0 auto;
}

.vanue .time h2{
    font-size: 2.5em;
    margin: 0;
    font-weight: 400;
}

.vanue .time p{
    font-size: 8em;
    margin: 0;
    font-weight: bold;
    color: #d78f23;
}

.vanue .time h3{
    font-size: 2.5em;
    margin: 0;
    font-weight: 400;
}

.vanue .time h3:first-of-type{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(0%, -50%);
    border-top: 1px solid #e7cfab;
    border-bottom: 1px solid #e7cfab;
}

.vanue .time h3:last-of-type{
    position: absolute;
    right: 17%;
    top: 50%;
    transform: translate(0%, -50%);
    border-top: 1px solid #e7cfab;
    border-bottom: 1px solid #e7cfab;
}

@media screen and (max-width:1500px) {
    .vanue .time p{
        font-size: 5em;
    }

    .vanue .time h2,
    .vanue .time h3{
        font-size: 2em;
    }

    .vanue .map iframe{
        height: 250px;
    }
}

@media screen and (max-width: 1400px){
    .vanue{
        padding: 5% 0;
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .vanue .time h3:first-of-type{
        left: 5%;
    }

    .vanue .time h3:last-of-type{
        right: 7%;
    }
}

@media screen and (max-width: 600px) {
    .vanue .time h3{
        position: unset!important;
    }

    .vanue .time h3:first-of-type{
        margin-top: 35px;
    }

    .vanue .time h3:last-of-type{
        margin-top: 20px;
    }
}

@media screen and (max-width: 360px) {
    .vanue{
        margin-bottom: 50px;
    }
}

